body{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}
.header-area{
	background: #3B5998;
	padding-top: 13px;
	padding-bottom: 10px;
}
.logo-area a img{
	margin-top: 17px;
	display: block;
	width: 168px;
	height: 34px;
}
.middle-area{
	width: 65%;
	margin: auto;
}
.logo-area{
	width: 30%;
	float: left;
}
.login-area{
	display: block;
	/* padding-top: 8px; */
	width: 70%;
	float: left;
}
.header-area:after{
	content: '';
	display: block;
	clear: both;
}
.login-first{
	float:left;
}
.login-second{
	float: left;
}
.login-submit{
	float: left;
}
.amader-login:after{
	content: '';
	display: block;
	clear: both;
}
.login-area form{
	float: right;
}
.login-area input{
	display: block;
	margin-right: 14px;
	font-size: 12px;
	border: 1px solid #1d2a5b;
	padding: 3px;
}
.login-area label{
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	margin-bottom: 5px;
	display: block;
}
.login-second a{
	color: #9cb4d8;
	font-size: 12px;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.login-submit input{
	font-size: 12px;
	font-family: inherit;
	background: #4267b2;
	border: 1px solid #29487d;
	color: #fff; 
	margin-top: 20px;
	cursor: pointer;
	transition: 0.1s;
	font-weight: bold;
	border-radius: 2px;
	padding: 2px 6px;
	text-align: center
}
.login-submit input:hover{
	background: #365899;
	border: 1px solid #29487d;
}

/* signup area style start form here */

.signup-left{
	width: 57%;
	float: left;
}
.signup-right{
	width: 43%;
	float: left;
}
.signup-area{
	background: linear-gradient(#ffffff, #D4D9E8);
}
.signup-area:after{
	content: '';
	display: block;
	clear: both;
}
.signup-left p{
	color: #0E385F;
	font-weight: bold;
	font-size: 20px;
	width: 80%;
}
.signup-left img{
	width: 90%;
}
.signup-right h2{
	color: #333333;
	font-size: 35px;
	margin-bottom: 5px;
}
.signup-right> p{
	color: #333333;
	font-size: 20px;
	margin: 10px 0;
}
.signup-right input[type=text],
.signup-right input[type=password]{
	width: 100%;
	font-size: 18px;
	padding: 6px;
	margin: 5px 0;
	border-radius: 3px;
	border: 1px solid #bdc7d8;
	box-sizing: border-box;
}
/* .username input: nth-child(1){ */
	/* width: 50%; */
/* } */
.signup-right .username: after{
	content: '';
	display: block;
	clear: both;
}
.signup-right .username input:nth-child(1){
	width: 49%;
	float: left;
}
.signup-right .username input:nth-child(2){
	width: 49%;
	float: right;
}
.birth-day h3{
	color: #333;
	font-size: 20px;
	margin: 5px 0;
	font-weight: normal;
}
.bbb-option select{
	padding: 3px;
	font-size: 15px;
	bolder: 1px solid #bdc7d8;
}
.bbb-option{
	float: left;
	margin-right: 8px;
}
.bbbb-link{
	float: left;
	width: 160px;
	font-size: 12px;
}
.bbbb-link a{
	color: #365899;
}
.birth-day:after{
	content: '';
	display: block;
	clear: both;
}
.gender-area{
	color: #333;
	cursor: pointer;
	font-size: 20px;
	margin-top: 10px;
	display: block;
}
p.policy{
	font-size: 11px;
	color: #777;
	width: 78%
}
p.policy a{
	color: #365899;
}
.signup-right input[type="submit"]{
	min-width: 194px;
	background: linear-gradient(#67ae55, #578843);
	padding: 7px 20px;
	font-size: 18px;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: inset 0 1px 1px #a4e388;
	border-color: #3b6e22 #3b6e22 #2c5115; 
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
	margin-top: 10px;
	margin-bottom: 10px;
}
.signup-right input[type="submit"]:hover{
	background: linear-gradient(#79bc64, #578843);

}
.signup-riht h4{
	color: #666;
	font-size: 12px;
}
.signup-riht h4{
	color: #365899;
}
::placeholder{
	color: #90949c;
}

/* Language-area */

.language-area{
	font-size: 12px;
	width: 70%;
	margin: auto;
	margin-top: 80px;
}
.language-menu ul li.En{
	color: #737373;
}
.language-menu ul li{
	display: inline-block;
	list-style-type: none;
	margin: 0 4px;
}
.language-menu ul li a{
	color: #385898;
}
.language-menu ul li{
	margin-left: 0;
	margin-right: 5px;
}

.option{
	width: 100%;
}
.bordertop{
	margin: 0 auto;
	padding: 0;
	width: 92.5%;
	border-top: 1px solid #dddfe2;
}
.option ul li{
	display: inline-block;
	list-style-type: none;
	margin: 5px 20px 0 0;
}
.option ul li a{
	color: #385898;
}
.option ul li.s{
	margin-left: 0;
}
.option ul li.Ad{
	background-image: url(/rsrc.php/v3/yd/r/utFcBmJv4E1.png);
	background-size: 500px 136px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	width: 16px;
}
.option p{
	padding: 5px;
	margin-left: 35px;
	color: #737373;
	font-size: 11px;
}

















